/**
 * MusicDistro | FORM
 */

.form {
	padding: 100px 0 40px;
	background: $blue;
}


form {
	display: inline-flex;
	flex-flow: row wrap;
	padding: 25px;
	max-width: 350px;
	font-size: 0;
}

label, input, select, textarea {
	display: inline-block;
}

label {
	margin-bottom: 10px;
	padding-left: 2px;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 700;
	color: $white;
}

input, select, textarea {
	vertical-align: text-top;
	margin-right: 6px;
	font-size: 16px;
	padding: 10px;
	border: none;
	border-radius: 6px;

	[type="submit"] {
		flex: 0 1 auto;
	}

	&:last-child {
		margin-right: 0;
	}
}

select {
	flex: 1 0 auto;
}