/**
 * MusicDistro | FORM
 */

form {
	display: inline-flex;
	flex-flow: row wrap;
	padding: 25px;
	max-width: 350px;
	font-size: 0;
	background: $blue-dark;
	box-shadow: 0 1px 28px rgba( #2f60e0, 0.5 );
	border-radius: 6px;
}

label, input, select, textarea {
	display: inline-block;
}

label {
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 700;
	width: 100%;
}

input, select, textarea {
	vertical-align: text-top;
	margin-right: 6px;
	font-size: 16px;
	padding: 10px;
	border: none;
	border-radius: 6px;

	[type="submit"] {
		flex: 0 1 auto;
	}

	&:last-child {
		margin-right: 0;
	}
}

select {
	flex: 1 0 auto;
}