/**
 * MusicDistro | MAIN STYLES
 */

* {
	box-sizing: border-box;
}

html {
	position: relative;
	height: 100%;
	
	&:before {
		@include overlay();
		background: rgba( $blue, 0.9 );
	}
}

body {
	position: relative;
	background: url('../images/mountain.jpg') no-repeat top $blue;
	background-size: cover;
}


main {
	margin: 60px auto 0;
	max-width: 800px;
}