/**
 * MusicDistro | MAIN STYLES
 */

* {
	box-sizing: border-box;
}

html {
	position: relative;
	
	&:before {
		@include overlay();
		background: rgba( $white, 0.94 );
	}
}

body {
	position: relative;
	background: $gray-lightest;
}


main {
	background: $gray-lightest;
}

.wrap {
	position: relative;
	margin: 0 auto;
	width: 90%;
	max-width: 800px;
}


figure {
	margin: 0;
	padding: 0;
	background: $white;
	box-shadow: 0 2px 30px rgba( $blue, 0.1 );
	border-radius: 6px;
	overflow: hidden;
}