/**
 * MusicDistro | MAIN STYLES
 */

* {
	box-sizing: border-box;
}

html {
	position: relative;
	
	&:before {
		@include overlay();
		background: rgba( $white, 0.94 );
	}
}

body {
	position: relative;
	background: $lightest-gray;
}


main {
	background: $lightest-gray;
}

.wrap {
	margin: 0 auto;
	width: 90%;
	max-width: 800px;
}
