/**
 * MusicDistro | VARIABLES
 */

// colors
$blue:		#385fcb;
$white:		#ffffff;
$black:		#000000;


// fonts
$font-heading:		'Oswald', sans-serif;
$font-sans-serif:	'Open Sans', sans-serif;
