/**
 * MusicDistro | VARIABLES
 */

// colors
$blue:			#2f5cda;
$blue-dark:		#2c4ea7;
$green:			#00d661;
$green-light:	#00ef6c;
$white:			#ffffff;
$black:			#000000;
$gray-dark:		#404963;
$lightest-gray:	#f7f7f7;


// fonts
// $font-heading:		'Oswald', sans-serif;
$font-sans-serif:	'Open Sans', sans-serif;
