/**
 * MusicDistro | VARIABLES
 */

// colors
$blue:			#2f5cda;
$blue-dark:		#163b9a;
$green:			#00d661;
$green-light:	#00ef6c;
$gold:			#ffe000;
$gold-mid:		#ffd400;
$gold-dark:		#f9bc00;
$white:			#ffffff;
$black:			#000000;
$gray-dark:		#404963;
$gray-lightest:	#f7f7f7;


// fonts
// $font-heading:		'Oswald', sans-serif;
$font-sans-serif:	'Open Sans', sans-serif;
$font-icon:			'FontAwesome';
